<style>

</style>
<div class="common-header">
    <em class="common-header-back-icon"></em>
    <span class="common-header-back-title"><%= nav %></span>
    <em class="common-header-home" @click="location.href='/'"></em>
</div>