<div class="channel-list-h5">
    <div class="channel-list-h5-header">
        <div class="channel-list-h5-header-title">本周最热</div>
    </div>
    <div class="list-h5">
        <ul class="list-h5-bookWrap">
            <li v-for="(item,index) in hotList" v-if="index > 0 && index < 4" @click="toBookDetail(item.fiction_id)">
                <div class="book-h5">
                    <div class="book-h5-cover">
                        <img :src="item.cover">
                    </div>
                    <div class="book-h5-info">
                        <div class="book-h5-info-title">{{item.title}}</div>
                        <div class="book-h5-info-author">作者：{{item.authors}}</div>
                        <div class="book-h5-info-summary">{{item.summary}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>