<div class="top-home">
    <div class="slide-banner">
        <a href="javascript:">
            <img class="cover" src="../../static/img/home/cover.jpg">
        </a>
    </div>
    <ul class="top-home-tab">
        <li class="top-home-tab-item">
            <a href="/male">
                <img class="top-home-tab-icon" src="../../static/img/home/icon-male.png">
                <p>男生</p>
            </a>
        </li>
        <li class="top-home-tab-item">
            <a href="/female">
                <img class="top-home-tab-icon" src="../../static/img/home/icon-female.png">
                <p>女生</p>
            </a>
        </li>
        <li class="top-home-tab-item">
            <a href="/rank">
                <img class="top-home-tab-icon" src="../../static/img/home/icon-rank.png">
                <p>排行</p>
            </a>
        </li>
        <li class="top-home-tab-item">
            <a href="/category">
                <img class="top-home-tab-icon" src="../../static/img/home/icon-category.png">
                <p>分类</p>
            </a>
        </li>
    </ul>
</div>