.top-home,
.slide-banner{
    width: 100%;
}
img.cover{
    display: block;
    width: 100%;
}
.top-home-tab{
    display: flex;
    background: #fff;
}
.top-home-tab-item {
    position: relative;
    flex: 1;
    margin: 10px 0 4px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
}
.top-home-tab-item:after {
    content: '';
    position: absolute;
    right: 0;
    top: 15px;
    width: 1px;
    height: 20px;
    background: #dddddd;
}
.top-home-tab-item:last-child:after {
    display: none;
}
.top-home-tab-item p{
    text-align: center;
    color: #555555;
}
.top-home-tab-icon{
    width: 32px;
}
