<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../static/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="../static/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/all.css">
    <script src="../static/script/lib/vue.min.js"></script>
    <script src="../static/script/lib/zepto.min.js"></script>
    <script src="../static/script/lib/axios.min.js"></script>
    <title>书城首页</title>
</head>
<body>
<div id="root">
    <% include include/header.ejs %>
    <div class="container-wrap f-cb" :class="{'page-position-2' : !curTab, 'page-position-1' : curTab}">
        <div class="container-scroll">
            <% include include/top-home.ejs %>
            <% include include/recommend-home.ejs %>
            <% include include/free-home.ejs %>
            <% include include/bottom-tag-home.ejs %>
        </div>
        <div style="position: absolute;left: 375px;top: 0;">
            <% include include/bookshelf-home.ejs %>
        </div>
    </div>
</div>
</body>
<script>
  window.jQuery = $;
</script>
<script src="../static/script/lib/jquery.base64.js"></script>
<script src="../static/script/lib/jquery.jsonp.js"></script>
<script src="../static/script/pages/home.js"></script>
</html>